<% background_url = @vinyl.photo.key %>
<%= cl_image_tag @vinyl.photo.key, alt: "alttext", class: "background-vinyl-show" %>
  <!-- <div style="background-image: url('<%= cl_image_path background_url %>');" class="background-vinyl-show"> -->
  <!-- add @binyl.photo.key -->
<%= render "shared/navbar" %>
<div class="container infos text-right pb-3">
  <div class="row">
    <div class="col-12 mt-1">
      <h1><%= @vinyl.name %></h1>
      <h2><%= @vinyl.artist.name %></h2>
      <table class="table table-dark table-info borderless float-right" style="background-color: transparent">
          <tr>
            <th scope="col">Release Date</th>
            <th scope="col">Genre</th>
            <th scope="col">Price per Day</th>
          </tr>
          <tr>
            <td><%= @vinyl.release_date.strftime("%m/%d/%Y") %></td>
            <td><%= @vinyl.genre.name %></td>
            <td>$<%= @vinyl.price_per_day %></td>
          </tr>
      </table>
    </div>
    <div class="col-12">
      <button class="btn btn-light booking-btn"
        data-toggle="modal"
          data-target="#bookingModal"
            data-whatever="@<%= @bookings_dates.to_json %>"
              id="booking-form-div"
               data-bookings="<%= @bookings_dates.to_json %>">Book</button>
      <%= render 'shared/modal_booking' %>
    </div>
    <div class="col-12">
      <div class="youtube-player float-right">
        <iframe display="block" title="YouTube Player" width="100%" height="100%" src="http://www.youtube.com/embed?listType=playlist&list=PLycVTiaj8OI-kwvNjgvvopMJt__x-y5mD" frameborder="0" class="mt-2 mb-2"></iframe>
      </div>
    </div>
    <div class="col-12">
      <div class="links d-flex float-right justify-content-between mt-2">
        <div class="owner d-flex flex-column justify-content-between">
          <h4><%= @vinyl.user.email %></h4>
          <p><%= @vinyl.user.address %></p>
          <a href="#" class="btn btn-light">See User</a>
        </div>
        <div class="review">
          <h4>Last Reviews</h4>
          <div class="review">
            <p><strong>Iggy Pop</strong>: <repeat n='4'></repeat>Nice Vinyl</p>
            <button class="btn btn-light" data-toggle="modal" data-target="#allReviewsModal" data-whatever="@mdo">See all Reviews</button>
            <%= render 'shared/modal_reviews' %>
            <!-- <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Leave a review</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
