<% background_url = @vinyl.photo.key %>
<%= cl_image_tag @vinyl.photo.key, alt: "alttext", class: "background-vinyl-show" %>
  <!-- <div style="background-image: url('<%= cl_image_path background_url %>');" class="background-vinyl-show"> -->
  <!-- add @binyl.photo.key -->

<div class="container infos pb-3">
  <div class="row m-1 mt-3 mb-4">
    <div class="col-12 col-lg-4">
    </div>
    <div class="col-12 col-lg-8">
      <h1><%= @vinyl.name %></h1>
      <h1><%= @vinyl.artist.name %></h1>
      <table class="table table-dark table-info borderless" style="background-color: transparent">
          <tr>
            <th scope="col">Release Date</th>
            <th scope="col">Genre</th>
            <th scope="col">Price per Day</th>
          </tr>
          <tr>
            <td><%= @vinyl.release_date.strftime('%d %B %Y') %></td>
            <td><%= @vinyl.genre.name %></td>
            <td><%= @vinyl.price_per_day %> €</td>
          </tr>
      </table>
      <button class="btn btn-light booking-btn mt-3"
              data-toggle="modal"
              data-target="#bookingModal"
              data-whatever="@<%= @bookings_dates.to_json %>"
              id="booking-form-div"
              data-bookings="<%= @bookings_dates.to_json %>">
        Book</button>
      <%= render 'shared/modal_booking', vinyl: @vinyl, booking: @booking  %>
    </div>
  </div>
  <div class="row m-1 mt-5 mb-4">
    <div class="col-12 col-lg-4">
    </div>
    <div class="col-12 col-lg-3 my-auto">
      <h3 id="test" class="mb-4">Tracklist</h3>
      <% if @vinyl.tracks.first.nil? %>
        <h5>No track available for this vinyl</h5>
      <% end %>
      <% @vinyl.tracks.each do |track| %>
        <ul class="list-unstyled list-group list-group-horizontal ml-3">
          <a href="#" class="link-without-style track-name" onclick="console.log(selectText())" data-url="<%= track.url[-11..-1] %>"><li><%= track.name %></li></a>
        </ul>
      <% end %>
      <button class="btn btn-light btn-review mt-4 mb-3" data-toggle="modal" data-target="#addTrack" data-whatever="@mdo">Add Track </button>
      <%= render 'shared/modal_add_track'%>
    </div>
    <div class="col-12 col-lg-5 my-auto">
      <div class="youtube-player float-right">
        <% unless @vinyl.tracks.first.nil? %>
          <iframe width="100%" height="100%" src="http://www.youtube.com/embed/<%= @vinyl.tracks.first.url[-11..-1] %>" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen id="iframe"></iframe>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row m-1 mt-3">
    <div class="col-12 col-lg-4">
    </div>
    <div class="col-12 col-lg-4 my-auto">
      <div class="mt-2">
        <div class="owner justify-content-between text-wrap">
          <h3>Owner</h3>
          <h4><%= @vinyl.user.pseudo %></h4>
          <p><%= @vinyl.user.email %></p>
          <p><%= @vinyl.user.address %></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 my-auto">
      <h3>Review</h3>
      <h4>Last Review</h4>
      <% if @vinyl.reviews.empty? %>
        <p></p>
      <% else %>
        <p><strong><%= @vinyl.reviews.last.booking.user.pseudo %></strong>:  <repeat n='<%= @vinyl.reviews.last.rating %>'></repeat>  <%= @vinyl.reviews.last.comment %></p>
      <% end %>
      <button class="btn btn-light btn-review" data-toggle="modal" data-target="#allReviewsModal" data-whatever="@mdo">Post & Read Reviews </button>
      <%= render 'shared/modal_reviews' %>
    </div>
  </div>
</div>
