<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1984987/screenshots/3965996/pantuneplaylist_vinyl_gif_800x600_.gif);">
  <div class="banner-container">
    <h1>TECHNO TOOLS</h1>
    <p>“Let your heart beat for music.”</p>
    <%= render "shared/search_bar"  %>
  </div>
</div>

<div id="home" class="container">
  <br>
  <h2>Break the music barrier</h2>
  <h4>Lend and share your records with the vinyl enthusiasts around you!</h4>
  <div class="d-flex mb-5 justify-content-around">
    <%= link_to vinyl_path(Vinyl.first), class: "link-without-style vinyl1" do  %>
      <%= render "shared/record_image", vinyl: Vinyl.first %>
      <iframe id = "youtube1" width="0" height="0" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    <%= link_to vinyl_path(Vinyl.second), class: "link-without-style vinyl2" do  %>
      <%= render "shared/record_image", vinyl: Vinyl.second %>
      <iframe id = "youtube2" width="0" height="0" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    <%= link_to vinyl_path(Vinyl.third), class: "link-without-style vinyl3" do  %>
      <%= render "shared/record_image", vinyl: Vinyl.third %>
      <iframe id = "youtube3" width="0" height="0" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
  </div>
</div>

