<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.dribbble.com/users/1984987/screenshots/3965996/pantuneplaylist_vinyl_gif_800x600_.gif);">
  <div class="banner-container">
    <h1>TECHNO TOOLS</h1>
    <p>“Let your heart beat for music.”</p>
    <%= render "shared/search_bar"  %>
  </div>
</div>
<%= render "shared/navbar" %>

<div class="container">
  <h2>Break the music barrier</h2>
  <h4>Lend and share your records with the vinyl enthusiasts around you!</h4>
  <div class="d-flex mb-5 justify-content-around">
    <%= render "shared/record_image", vinyl: Vinyl.first %>
    <%= render "shared/record_image", vinyl: Vinyl.second %>
    <%= render "shared/record_image", vinyl: Vinyl.third %>
  </div>
</div>

