<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Techno Tools</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <% background_color = (params[:action] == "home" || (params[:controller] == "vinyls" && params[:action] == "index")  ? 'background-white' : 'background-gray') %>
  <body class="<%= background_color %>">
    <%= render "shared/navbar" %>

    <div class="global-container">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>

    <% unless params[:controller] == "vinyls" && params[:action] == "show" %>
      <%= render "shared/footer" %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
